@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
    /* themes: winter --default, night --prefersdark; */
}


@custom-variant dark (&:where([data-theme=night], [data-theme=night] *));


.glass-card {
  background: rgba(255, 255, 255, 0.14);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 20px; 

}

.navbar .active {
  color: purple;
  font-weight: bold;
  border: 1px solid #cac8c8ff;
  border-radius: 20px;
  background: rgb(243, 226, 226);
}
